body {
	font-family: sans-serif;
	text-align: center;
	/* display: flex; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}
button{background: #000056;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
	cursor: pointer;}
